<div class="list-users flex-center">
  <div class="container">
    <div>
      <form>
        <div class="row mt-3 fields-container">
          <div class="col-md-3 filed">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "tasks.byName" | translate }}</mat-label>
              <input matInput placeholder="title search" (keyup)="search($event.target)" />
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="listBox">
        <app-table
          [columns]="tableColumns"
          [dataSource]="dataSource"
          [totalItems]="totalItems"
          [page]="page"
          [limit]="limit"
          paginationId="users"
          (pageChange)="changePage($event)"
          (action)="onTableAction($event)">
        </app-table>
      </div>
    </div>
  </div>
</div>
