<div class="layout">
  <!-- Top Navbar -->
  <nav
    class="top-navbar flex justify-content-between px-4"
  >
    <div class="site-title  mx-5">{{ "navbar.title" | translate }}</div>
    <div class="welcome-message">{{ "navbar.welcome" | translate }} {{ userData?.email }}</div>
  </nav>

  <!-- Sidebar  -->
  <div class="d-flex sidebar mx-3">
    <!-- Sidebar -->
    <div class="sidebar-container" [class.expanded]="isExpanded">
      <ul class="nav-links">
        <li (click)="toggleSidebar()">
          <mat-icon> menu_open </mat-icon>
        </li>
        <li routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span *ngIf="isExpanded">{{ "navbar.dashboard" | translate }}</span>
        </li>
        <li routerLink="/list-tasks" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span *ngIf="isExpanded">{{ "navbar.all-tasks" | translate }}</span>
        </li>

        <li (click)="changeLanguage()">
          <mat-icon>language</mat-icon>
          <span *ngIf="isExpanded">{{ lang == "en" ? "العربية" : "EN" }}</span>
        </li>

        <li (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span *ngIf="isExpanded">{{ "navbar.logout" | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
