<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container flex">
    <!-- <h1 class="navbar-brand">{{ "navbar.title" | translate }}</h1> -->
    <h1 class="navbar-brand">{{ "navbar.title" | translate }}</h1>
    <div class="flex" id="navbarSupportedContent">
      <ul class="mr-auto flex">
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="/list-tasks"
            routerLinkActive="active"
          >
            {{ "navbar.all-tasks" | translate }}
          </a>
        </li>
      </ul>
      <div class="nav-item d-flex gap-3">
        <a class="nav-link" routerLink="/login" (click)="logout()">
          {{ "navbar.logout" | translate }}
        </a>
        <a class="nav-link" (click)="changeLanguage()">{{
          lang == "en" ? "عربي" : "EN"
        }}</a>
      </div>
    </div>
  </div>
</nav>
