.dashboard {
  padding: 0 30px;
  .hero {
    justify-content: space-around;
    img {
      width: 300px;
    }
    .typewriter {
      color: var(--secondary-color);
      font-weight: bold;
      border-inline-start: 2px solid var(--primary-color);/* لمحاكاة المؤشر */

      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 5s steps(30, end) 1s forwards,
        blink-caret 0.75s step-end infinite;
    }
  }
  .stats {
    justify-content: space-around;
    .stats-container {
      .cards {
        gap: 20px;
        .card {
          width: 160px;
          height: 100px;
          h3 {
            color: var(--primary-color);
          }
        }
      }
      .card.time-card {
        .time {
          color: var(--primary-color);
          font-size: 30px;
        }
      }
    }
    .date {
      .demo-inline-calendar-card {
        width: 300px;
      }
    }
  }
  .employees {
    justify-content: space-around;
    gap: 20px;
    .employee-of-the-month {
      width: 30%;
      .card {
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 3px solid var(--secondary-color);
        }
        .stars {
          color: #ebb22c !important;
        }
      }
    }
    .chart {
      width: 60%;
    }
  }
}

// Typing animation
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00318b;
  }
}

// media queries
@media (max-width: 992px) {
  .dashboard {
    .stats {
      .date {
        display: none;
      }
    }
    .employees {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .employee-of-the-month {
        width: 100%;
      }
      .chart {
        width: 100%;
      }
    }
  }
}
@media (max-width: 800px) {
  .dashboard {
    padding: 0 10px;
    .hero {
      flex-direction: column;
      align-items: center;
      .content {
        text-align: center;
        margin: 0 20px;
        h5 {
          font-size: 15px;
        }
        h1 {
          font-size: 22px;
        }
      }
      img {
        display: none;
      }
    }
  }
}
@media (max-width: 768px) {
  .dashboard {
    .stats {
      .stats-container {
        flex-grow: 1;
        .cards {
          flex-direction: column;
          .card.stat {
            width: 100% !important;
          }
        }
      }
    }
  }
}
