/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #00318b;
  --white: #fff;
  --border: #ddd;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  margin: 0;
  padding: 0;
}
th,
td {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
a,
button {
  all: unset;
}

a,
button {
  cursor: pointer;
}
ul {
  list-style: none;
}

mat-error {
  color: rgb(214, 65, 65) !important;
}

.toast-success {
  background-color: #45c18a !important; // أخضر - اكتمال
  color: #fff !important;
}

.toast-error {
  background-color: #d66767 !important; // أحمر - اخطاء
  color: #fff !important;
}


// system buttons
.main-btn, .btn-green, .btn-red, .btn-pink {
  padding: 12px 24px;
  border-radius: 25px; /* حواف مستديرة بشكل أكبر */
  border: 2px solid var(--white); /* إضافة حدود */
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  position: relative;

  /* تأثير الانتقال عند المرور */
  &:hover {
    background-color: var(--white); /* تغيير اللون الخلفي إلى الأبيض عند المرور */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* إضافة ظل عصري */
  }

  /* تأثير الانحناء عند الضغط */
  &:active {
    color: var(--white);
    transform: translateY(5px); /* انزلاق الزر لأسفل عند الضغط */
    box-shadow: none; /* إزالة الظل عند الضغط */
  }
   /* إضافة تأثير متموج عند المرور بالماوس */
   &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    transform: scale(0);
    transition: transform 0.3s ease-out;
  }

  &:hover::before {
    transform: scale(1); /* تأثير تموج عند مرور الماوس */
  }
}



.main-btn {
  background-color: var(--primary-color);
  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  &:active {
    background-color: var(--primary-color);
  }
}
.btn-green {
  background-color: #6fbf73;
  &:hover {
    color: #6fbf73;
    border-color: #6fbf73;
  }

  &:active {
    background-color: #6fbf73;
  }
}

.btn-red {
  background-color: #d66767;
  &:hover {
    color: #d66767;
    border-color: #d66767;
  }

  &:active {
    background-color: #d66767;
  }
}

.btn-pink {
  background-color: #b5838d;
  &:hover {
    color: #d66767;
    border-color: #d4af7f;
  }

  &:active {
    background-color: #d4af7f;
  }
}



// table + card buttons
.gray-btn, .delete-icon, .icon-green {
  color: var(--white);
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  height: 20px;
  margin: 0 5px;
  font-size: 16px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    transform: translateY(2px);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  }
}


.gray-btn {
  background-color: #9ca3af;
  &:hover {
    background-color: #6b7280;
  }
}

.delete-icon {
  background-color: #d66767;
  &:hover {
    background-color: #cb3333;
  }
}
.icon-green {
  background-color: #6fbf73;
  &:hover {
    background-color: #18bb20;
  }
}
