/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #bc1059;
  --white: #fff;
  --border: #ddd;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  margin: 0;
  padding: 0;
}
th, td {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
a, button {
  all: unset;
}

a,
button {
  cursor: pointer;
}
.main-btn {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: var(--white);
}
.main-btn:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
}

.btn-warning {
  background-color: #f9c710;
  color: var(--white);
  padding: 10px ;
  border-radius: 5px;
  border: none;
}
.btn-error {
  background-color: #e43237;
  color: var(--white);
  padding: 10px ;
  border-radius: 5px;
  border: none;
}
mat-error {
  color: rgb(220 53 69)  !important;
}
