.form-container {
  padding: 0 30px;
  form {
      div {
        width: 250px;
        mat-form-field {
          width: 100%;
          input {
            width: 100% ;
          }
        }
      }
    }

}
.tasks-container {
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  .task-card {
    width: 350px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 6px;
    }
    h2 {
      color: var(--primary-color);
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
    .card-text {
      display: -webkit-box !important;
      -webkit-line-clamp: 2  !important; /* عدد السطور */
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }
}

.no-data-message {
  text-align: center;
  margin-top: 50px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--primary-color);
}

mat-select,
mat-option {
  background-color: var(--white) !important;
  border-radius: 6px;
}
