.list-tasks {
  padding: 0 30px;
  .container {
    margin: 20px auto;
    width: 80%;
    .add-task-btn {
      justify-content: end;
    }
  }
  form {
    .fields-container {
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 10px;
      div {
        width: 235px;
        mat-form-field {
          width: 100%;
          .search-icon {
            font-size: 25px;
          }
          input {
            width: 100% ;
          }
        }
      }
    }
  }
  .listBox {
    overflow-x: auto;
  }

}

::ng-deep .mat-calendar,
mat-select,
mat-option {
  background-color: var(--white) !important;
  border-radius: 6px;
}
::ng-deep .mat-calendar {
  border: 2px solid var(--border);
}

::ng-deep .mat-calendar-body-in-range::before {
  background-color: #8080804d !important; 
}
::ng-deep .mat-calendar-body-selected {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;

}


// media queries
@media (max-width: 768px) {
  .list-tasks {
    padding: 0 10px;
  }
}


