.list-tasks {
  .container {
    margin: 20px auto;
    width: 80%;
    .add-task-btn {
      justify-content: end;
    }
  }
  form {
    .fields-container {
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 10px;
      div {
        width: 250px;
        mat-form-field {
          width: 100%;
          input {
            width: 100% ;
          }
        }
      }
    }
  }
  .listBox {
    overflow-x: auto;
  }

}

::ng-deep .mat-calendar,
mat-select,
mat-option {
  background-color: var(--white) !important;
  border-radius: 6px;
}
::ng-deep .mat-calendar {
  border: 2px solid var(--border);
}

::ng-deep .mat-calendar-body-in-range::before {
  background-color: #8080804d !important; // لون أفتح للمدى
}
::ng-deep .mat-calendar-body-selected {
  background-color: var(--primary-color) !important; // لون التاريخ المختار
  color: var(--white) !important;

}





