<div class="list-tasks flex-center">
  <div class="container">
    <div>
      <div class="add-task-btn flex">
        <button class="main-btn" mat-raised-button (click)="addTask()">
          {{ "tasks.addTask" | translate }}
        </button>
      </div>
      <form>
        <div class="fields-container flex-center">
          <div class="col-md-3 field">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "tasks.byTitle" | translate }}</mat-label>
              <input
                matInput
                placeholder="title search"
                (keyup)="search($event.target)"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "tasks.byUser" | translate }}</mat-label>
              <mat-select (selectionChange)="selectUser($event)">
                <mat-option *ngFor="let user of users" [value]="user?.id">
                  {{ user?.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "tasks.status" | translate }}</mat-label>
              <mat-select (selectionChange)="selectStatus($event)">
                <mat-option *ngFor="let item of status" [value]="item?.name">
                  {{ "tasks." + item?.name | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "tasks.dateRange" | translate }}</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  placeholder="Start date"
                  (dateChange)="selectDate($event, 'fromDate')"
                />
                <input
                  matEndDate
                  placeholder="End date"
                  (dateChange)="selectDate($event, 'toDate')"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="listBox">
      <app-table
        [columns]="tableColumns"
        [dataSource]="dataSource"
        [totalItems]="totalItems"
        [page]="page"
        [limit]="limit"
        paginationId="tasks"
        (pageChange)="changePage($event)"
        (action)="onTableAction($event)"
      >
      </app-table>
    </div>
  </div>
</div>


