<div class="login">
  <div class="login-container flex-center">
    <div class="box flex-column">
      <h2>{{ 'login.title' | translate }}</h2>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> {{ 'login.email' | translate }}</mat-label>
          <input matInput placeholder="email" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            {{ 'general.required' | translate }}
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            {{ 'login.invalid-email' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <mat-label>{{ 'login.password' | translate }}</mat-label>

          <input
            matInput
            placeholder="password"
            type="password"
            formControlName="password"
          />
          <mat-error> {{ 'general.required' | translate }}</mat-error>
        </mat-form-field>
      </form>
      <div class="d-flex justify-content-center">
        <button class="main-btn" (click)="login()">{{ 'login.login' | translate }}</button>
      </div>
    </div>
  </div>
</div>
