<div class="layout">
  <!-- Top Navbar -->
  <nav class="top-navbar flex justify-content-between px-4">
    <div class="site-title mx-5">{{ "navbar.title" | translate }}</div>
    <div class="welcome-message">{{ "navbar.welcome" | translate }}</div>
  </nav>

  <!-- Sidebar  -->
  <div class="d-flex sidebar mx-3">
    <div class="sidebar-container" [class.expanded]="isExpanded">
      <ul class="nav-links">
        <!-- زر تصغير/تكبير القائمة -->
        <li (click)="toggleSidebar()">
          <mat-icon>menu_open</mat-icon>
        </li>

        <!-- الروابط -->
        <li
          *ngFor="let link of navLinks"
          routerLink="{{ link.route }}"
          routerLinkActive="active"
        >
          <mat-icon>{{ link.icon }}</mat-icon>
          <span *ngIf="isExpanded">{{ link.label | translate }}</span>
        </li>

        <!-- تغيير اللغة -->
        <li (click)="changeLanguage()">
          <mat-icon>language</mat-icon>
          <span *ngIf="isExpanded">{{ lang == "en" ? "العربية" : "EN" }}</span>
        </li>

        <!-- تسجيل الخروج -->
        <li (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span *ngIf="isExpanded">{{ "navbar.logout" | translate }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
