<div class="login flex">
  <div class="login-container flex" *ngIf="CONDITION" [@fadeInLeftOnEnter]>
    <div class="box flex-column card">
      <h2>{{ "register.title" | translate }}</h2>
      <form [formGroup]="registerForm">
        <mat-form-field  class="w-100">
          <mat-label>{{ "register.username" | translate }}</mat-label>
          <input matInput placeholder="Username" formControlName="username" />
          <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
            {{ "general.required" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="w-100 mt-3">
          <mat-label> {{ "login.email" | translate }}</mat-label>
          <input matInput placeholder="email" formControlName="email" />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            {{ "general.required" | translate }}
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            {{ "login.invalid-email" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="w-100 mt-3">
          <mat-label>{{ "login.password" | translate }}</mat-label>
          <input
            matInput
            placeholder="password"
            type="password"
            formControlName="password"
          />
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            {{ "general.required" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field  class="w-100 mt-3">
          <mat-label> {{ "register.confirmPassword" | translate }}</mat-label>
          <input
            matInput
            placeholder="Confirm Password"
            type="password"
            formControlName="confirmPassword"
          />
          <mat-error
            *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
          >
            {{ "general.required" | translate }}
          </mat-error>
          <mat-hint
            *ngIf="
              registerForm.hasError('notSame') &&
              registerForm.get('confirmPassword')?.touched
            "
            class="text-danger"
          >
            {{ "register.passwordNotMatch" | translate }}
          </mat-hint>
        </mat-form-field>
      </form>
      <div class="d-flex justify-content-center">
        <button
          class="main-btn"
          (click)="createAccount()"
          [disabled]="registerForm.invalid"
        >
          {{ "register.createAccount" | translate }}
        </button>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a [routerLink]="['/login']">
          {{ "register.haveAccount" | translate }}
        </a>
      </div>
    </div>
    <img src="/images/employee.png" alt="employee using computer" />
  </div>
</div>
