<!-- shared/components/table/table.component.html -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
  <!-- Dynamic columns -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.def">
    <th mat-header-cell *matHeaderCellDef>
      {{ column.header | translate }}
    </th>
    <td mat-cell *matCellDef="let element; let index = index">
      <ng-container *ngIf="!column.isAction">
        <!-- Regular column content -->
        <ng-container *ngIf="column.type === 'index'">
          {{ (page - 1) * limit + index + 1 }}
        </ng-container>
        <ng-container *ngIf="column.type === 'text'">
          {{ element[column.field] }}
        </ng-container>
        <ng-container *ngIf="column.type === 'image'">
          <img
            [src]="'https://crud-a325.onrender.com/' + element[column.field]"
            alt="photo"
          />
        </ng-container>
      </ng-container>

      <!-- في جزء الأزرار -->
      <ng-container *ngIf="column.isAction">
        <div class="flex-center">
          <ng-container *ngFor="let action of column.actions">
            <button
              *ngIf="!action.showIf || action.showIf(element)"
              mat-raised-button
              [class]="action.class"
              (click)="onAction(action.type, element, action)"
            >
              <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
              <span *ngIf="action.label">{{ action.label | translate }}</span>
            </button>
          </ng-container>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getColumnDefs()"></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: getColumnDefs()
        | paginate
          : {
              id: paginationId,
              itemsPerPage: limit,
              currentPage: page,
              totalItems: totalItems
            }
    "
  ></tr>
</table>

<!-- Pagination -->
<div class="d-flex justify-content-center mt-3" *ngIf="dataSource.length > 0">
  <pagination-controls
    class="my-pagination"
    (pageChange)="onPageChange($event)"
    [id]="paginationId"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</div>

<div *ngIf="dataSource?.length === 0" class="no-data-message">
  {{ "tasks.noData" | translate }}
</div>
