

:host ::ng-deep {
  table {
    border: 1px solid rgba(0, 0, 0, 0.5);

    th {
      background-color: var(--primary-color) !important;
      color: var(--white) !important;
      text-align: center !important;
    }
    td {
      text-align: center !important;
    }
  }
  .no-data-message {
    text-align: center;
    margin-top: 50px;
  }
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--primary-color);
}
