:host ::ng-deep {
  table {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    th {
      background-color:var(--secondary-color) !important;
      color: var(--white) !important;
      text-align: center !important;
    }
    td {
      text-align: center !important;
      img {
        width: 50px;
      }
    }
  }
  .no-data-message {
    text-align: center;
    margin-top: 50px;
  }
}
// pagination
.pagintaion-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--primary-color);
}

